#### ***`Índice`***

#### ***`Importación de librerías`***

In [310]:
#LIBRERIAS NECESARIAS:
#Para utilizar API
import requests
#Para realizar la estructura tabular
import pandas as pd
#Para rellenar vacíos
import numpy as np
import json

#ETL:

#para normalizar strings
from unicodedata import normalize
#para normalizar incluyendo la ñ
import re 
#para normalizar fechas
import datetime
#para obtener fechas
import time
#hacer los calendarios de iteración
from dateutil.rrule import rrule, DAILY , MONTHLY

#Conexión con postgresql:

#Para crear tablas con claves primarias y foraneas
import psycopg2
#Para append los datos a ingestar en la tabla
from sqlalchemy import create_engine

#Web Scraping
from bs4 import BeautifulSoup

#Ver para japón: (borrar si no se usa)
from urllib.parse import quote


#limpiar la consola y acceder a directorios
import os

#### ***`Directorio de backup`***

In [311]:
import pathlib

In [312]:
#Se rutea los directorios y en caso de no existir se crean
# Se define el nombre de la carpeta o directorio a crear
path=pathlib.Path().absolute()
directorio = f"{path}/backup"
try:
    os.mkdir(directorio)
except OSError:
    print("La creación del directorio %s falló" % directorio)
else:
    print("Se ha creado el directorio: %s " % directorio)
# Hago sub carpetas con el nombre de los paises
directorios=['usa','japon','chile']
for direc in directorios:
    ruta_backs = f"{directorio}/{direc}"
    try:
        os.mkdir(ruta_backs)
    except OSError:
        print("La creación del directorio %s falló" % ruta_backs)
    else:
        print("Se ha creado el directorio: %s " % ruta_backs)

La creación del directorio c:\Users\Gise\Desktop\Data Since\LABS\Grupal\usgsAPI\pythonPrograms/backup falló
La creación del directorio c:\Users\Gise\Desktop\Data Since\LABS\Grupal\usgsAPI\pythonPrograms/backup/usa falló
La creación del directorio c:\Users\Gise\Desktop\Data Since\LABS\Grupal\usgsAPI\pythonPrograms/backup/japon falló
La creación del directorio c:\Users\Gise\Desktop\Data Since\LABS\Grupal\usgsAPI\pythonPrograms/backup/chile falló

#### ***`Carga (Load - Potgresql)`***

In [313]:
#conexión a postgres mediante alquemy
cone = create_engine('postgresql://sismosu:123@localhost:5432/sismosdb', pool_size=50, max_overflow=0)

In [314]:
'''
REALIZAMOS TABLAS DE MANERA TABLA MANUAL: para poner primarykey, clave foranea
'''

tabla_paises = 'DROP TABLE IF EXISTS PAIS CASCADE; CREATE TABLE PAIS (idpais SERIAL PRIMARY KEY NOT NULL ,pais text);'
tabla_eeuu = 'DROP TABLE IF EXISTS USA CASCADE; CREATE TABLE USA (idsismo SERIAL PRIMARY KEY NOT NULL ,idpais INTEGER,foreign key (idpais) references PAIS(idpais),mag float8, place text,time timestamp,url text,tsunami text, title text,lng float8, lat float8,deepth float8, peligro smallint);'
tabla_chile = 'DROP TABLE IF EXISTS CHILE CASCADE; CREATE TABLE CHILE (idsismo SERIAL PRIMARY KEY NOT NULL,idpais INTEGER, foreign key (idpais) references PAIS(idpais),mag float8, place text,time timestamp,url text,tsunami text, title text,lng float8, lat float8,deepth float8, peligro smallint);'
tabla_japon = 'DROP TABLE IF EXISTS JAPON CASCADE; CREATE TABLE JAPON (idsismo SERIAL PRIMARY KEY NOT NULL,idpais INTEGER,foreign key (idpais) references PAIS(idpais),mag float8, place text,time timestamp,url text,tsunami text, title text,lng float8, lat float8,deepth float8, peligro smallint);'
tabla_hechos = 'DROP TABLE IF EXISTS SISMOS CASCADE; CREATE TABLE SISMOS (idsismo SERIAL PRIMARY KEY NOT NULL,idpais INTEGER,foreign key (idpais) references PAIS(idpais),mag float8, place text,time timestamp,url text,tsunami text, title text,lng float8, lat float8,deepth float8, peligro smallint);'
tsunamis = 'DROP TABLE IF EXISTS TSUNAMIS CASCADE; CREATE TABLE TSUNAMIS (id SERIAL PRIMARY KEY NOT NULL ,idpais INTEGER,foreign key (idpais) references PAIS(idpais),altura_oleaje float8, place text, time timestamp, url text, mag float8, lng float8, lat float8, deepth float8);'
volcanes = 'DROP TABLE IF EXISTS VOLCANES CASCADE; CREATE TABLE VOLCANES (id SERIAL PRIMARY KEY NOT NULL ,idpais INTEGER,foreign key (idpais) references PAIS(idpais),nombre text, tipo text, elevacion float8, place text, ultima_erupcion text, lat float8, lng float8, url text);'


conn = psycopg2.connect(
    host='localhost',
    user='sismosu',
    password='123',
    database='sismosdb',
    port='5432'
 )

cur = conn.cursor()

cur.execute(tabla_paises)
cur.execute(tabla_eeuu)
cur.execute(tabla_chile)
cur.execute(tabla_japon)
cur.execute(tabla_hechos)
cur.execute(tsunamis)
cur.execute(volcanes)

conn.commit()
cur.close()

#### ***`Definimos tabla de paises`***

In [315]:
dic={}

In [316]:
def paises(pais):
    '''
    Función:Generar claves id pais
    Entrada: pais a dar/crear clave
    Salida:clave idpais
    
    '''
    
    global dic
    if pais in dic:
        #df.to_sql(name='pais',con=cone, if_exists='replace', index=False)
        return(dic[pais])
    else:
        dic[pais]=len(dic)+1
        dic_pais={'pais':[pais]}
        df=pd.DataFrame(dic_pais)
        df.to_sql(name='pais',con=cone, if_exists='append', index=False)
        return(dic[pais])

#### ***`Definimos fecha de inicio y fin de la carga de datos`***

In [317]:
def fechas():
    ''' 
    Función:Definimos las fechas de inicio y fin
    Entrada:
    Salida: Fechas a cargar en db
    '''
    #Fecha inicio
    a = datetime.date(2022, 1, 1)
    #Fecha fin
    b = datetime.date.today()
    return a,b

#### ***`ETL`***

In [318]:
def limpieza_general_tabla (df):
    '''
    Función: limpieza de cadenas de string
    Entrada: Data Frame a normalizar
    Devuelve:  el df ingestado con normalizaciones
    '''
    #Vemos duplicados y existen los eliminamos
    df.drop_duplicates(inplace = True) 
    #Acomodamos el indice
    df.reset_index(drop = True, inplace = True)
  
    #recorremos cada columna del dataset con un bucle
    for c in df.columns:         
        #Detectamos las columnas que son string 
        if df[c].dtype == 'object':
            #ponemos todo en minúsculas
            df[c]=df[c].str.lower() 
            df[c]=df[c].apply(lambda x:x.strip() if type(x)!=float else x)
            #creamos una lista de valores a reemplazar por vacío
            lista_simbolos=['!',',',';','-','.',' ?','? ','?',':']
            for elemento in lista_simbolos:
                df[c]=df[c].apply(lambda x:x.replace(elemento ,'')if type(x)!=float else x)                  
            #creamos una lista de valores a reemplazar por espacio
            lista_simbolos=['_','  ']
            for elemento in lista_simbolos:
                df[c]=df[c].apply(lambda x:x.replace(elemento ,' ')if type(x)!=float else x)                  
        #sacamos los acentos
        df[c]=df[c].apply(lambda x: normalize( 'NFC', re.sub(r"([^n\u0300-\u036f]|n(?!\u0303(?![\u0300-\u036f])))[\u0300-\u036f]+", r"\1", normalize( "NFD", x), 0, re.I))
                                        if type(x)== str and x!= 0 and x!= 'NaN'
                                        else x)

        if c== 'place':
 
            lista_palabras=[' of ',' sw ',' w ',' n ']
            for elemento in lista_palabras:
                df[c]=df[c].apply(lambda x:x.replace(elemento ,' ')if type(x)!=float else x)
            #reemplazamos los '' por 'sin dato'
            df[c]=df[c].apply(lambda x: 'sin dato' if type(x)== str and x=='' else x)
            #sacamos los que no tengan el pais que buscamos
            df=df[df.place.str.contains('japan|chile')|df.pais.str.contains('usa')] 
            #los eliminamos de place
            lista_simbolos=['japan','chile']
            for elemento in lista_simbolos:
                df[c]=df[c].apply(lambda x:x.replace(elemento ,'')if type(x)!=float else x)

        #detectamos NaN
        df[c]=df[c].apply(lambda x: None if type(x)== str and x=='' else x)  
    return df

### ***`Japón`***

#### ***`Japón instantanea`***

In [319]:
def japon_instantanea():
    #creo dicc vacio
    dict={'mag':[],'place':[],'time':[],'url':[],'tsunami':[],'title':[],'lng':[],'lat':[],'deepth':[]}
    '''
    límite
    entero ($ int32 )
    número de devoluciones (1-100, el valor predeterminado es 10)
    '''
    limit=100
    '''
    compensar
    entero ($ int32 )
    Número de registros para omitir 
    (0 o más, el valor predeterminado es 0). 
    Por ejemplo, limit=100&offset=200 devuelve 100 registros desde el 201.
    '''
    offset=0
    '''
    desde_fecha
    Fecha especificada o posterior (formato aaaaMMdd)
    '''
    a,b=fechas()
    fecha_start=int(b.strftime('%Y%m%d'))

    fecha_end= int(a.strftime('%Y%m%d'))

    #creo un bucle para recorrer los diferentes offset sin superar la fecha mínima registrada   
    while offset<=2100 and fecha_start>=fecha_end :
        #Obtengo url personalizada para la fecha
        urlP2p = f"https://api.p2pquake.net/v1/human-readable?limit=100&offset={offset}&since_date={fecha_start}"
        #hago la request en la api
        responseP2p = requests.get(urlP2p)
        #cambio el formato a tipo json
        jsonDataP2p = responseP2p.json()
        #itero por la cantidad de datos que pedí
        for i in range(limit):
            #intento poblar el diccionario
            try:
                #primero me fijo que pueda acceder a esa fila
                try:a=jsonDataP2p[i]
                except:pass
                #Pueblo el diccionario y en caso de nulos completo el valor con None
                #Magnitud:            
                try:dict['mag'].append(float(a['earthquake']['hypocenter']['magnitude']))
                except:dict['mag'].append(None)
                #Lugar
                try:dict['place'].append(a['points'][0]['addr'])
                except:dict['place'].append(None)
                #Fecha
                try:dict['time'].append(datetime.datetime.strptime(a['time'], '%Y/%m/%d %H:%M:%S.%f'))            
                #try:dict['time'].append(a['time'])
                except:dict['time'].append(None)
                #Url
                #modifico el índice con el que se puede acceder a cada valor
                indice=offset+i
                try:dict['url'].append(f"https://api.p2pquake.net/v1/human-readable?limit=1&offset={indice}&since_date={fecha_start}")
                except:dict['url'].append(None)
                #indico si hay tsunami registrado            
                try:dict['tsunami'].append(a['earthquake']["domesticTsunami"])
                except:dict['tsunami'].append(None)
                #Dejo la columna title como complementaria a place          
                try:dict['title'].append(a['earthquake']['hypocenter']['name'])
                except:dict['title'].append(None)
                #Cologo longitud
                try:dict['lng'].append(float(a['earthquake']['hypocenter']['longitude'][1:]))
                except:dict['lng'].append(None)
                #coloco latitud
                try:dict['lat'].append(float(a['earthquake']['hypocenter']['latitude'][1:]))
                except:dict['lat'].append(None)
                #coloco profundidad
                try:dict['deepth'].append(float(a['earthquake']['hypocenter']['depth'][:-2]))
                except:dict['deepth'].append(None)
            except: 
                pass
        #incremento el offset
        offset+=100
    df=pd.DataFrame(dict)
    #borro duplicados
    df.drop_duplicates(inplace=True)
    #filtro filas con vacíos
    filtros=[None,'']
    for i in filtros:
        #Creo máscaras 
        m1=df['mag'].values !=i
        m2=df['title'].values !=i
        m3=df['lng'].values !=i
        m4=df['lat'].values !=i
        m5=df['deepth'].values !=i
        #Aplico las máscaras
        df=df[m1 & m2 & m3 & m4 & m5]
    df.insert(loc = 0, column = 'idpais', value =paises('japon'))
    df['peligro']=1
    df.to_csv(f'{directorio}/japon/japon_instantanea.csv')
    #Paso la tabla a Postgres
    df.to_sql(name='japon',con=cone, if_exists='append', index=False)#<-- DESACTIVAR/ACTIVAR NO/SI SE QUIERE PASAR A POSTGRES
    #Paso a tabla de Postgres única de hechos
    df.to_sql(name='sismos',con=cone, if_exists='append', index=False)
    return(df)

In [320]:
df=japon_instantanea()
df

C:\Users\Gise\AppData\Local\Temp\ipykernel_5736\1059274433.py:84: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  m1=df['mag'].values !=i
C:\Users\Gise\AppData\Local\Temp\ipykernel_5736\1059274433.py:86: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  m3=df['lng'].values !=i
C:\Users\Gise\AppData\Local\Temp\ipykernel_5736\1059274433.py:87: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  m4=df['lat'].values !=i
C:\Users\Gise\AppData\Local\Temp\ipykernel_5736\1059274433.py:88: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  m5=df['deepth'].values !=i

,idpais,mag,place,time,url,tsunami,title,lng,lat,deepth,peligro
0,1,2.0,鹿児島十島村,2022-11-24 03:14:39.017,https://api.p2pquake.net/v1/human-readable?lim...,None,トカラ列島近海,129.2,29.3,10.0,1
1,1,3.3,蘭越町,2022-11-24 02:28:32.636,https://api.p2pquake.net/v1/human-readable?lim...,None,後志地方西部,140.6,42.9,NaN,1
2,1,3.3,None,2022-11-24 02:27:51.935,https://api.p2pquake.net/v1/human-readable?lim...,None,後志地方西部,140.6,42.9,NaN,1
4,1,5.2,日立市,2022-11-24 01:57:18.207,https://api.p2pquake.net/v1/human-readable?lim...,None,八丈島東方沖,141.5,33.8,40.0,1
7,1,4.5,八戸市,2022-11-24 01:32:42.698,https://api.p2pquake.net/v1/human-readable?lim...,None,北海道西方沖,140.2,44.2,260.0,1
...,...,...,...,...,...,...,...,...,...,...,...
2189,1,2.9,珠洲市,2022-11-15 06:24:14.540,https://api.p2pquake.net/v1/human-readable?lim...,None,石川県能登地方,137.2,37.5,10.0,1
2190,1,4.2,珠洲市,2022-11-14 22:31:07.509,https://api.p2pquake.net/v1/human-readable?lim...,None,石川県能登地方,137.3,37.5,10.0,1
2191,1,4.2,None,2022-11-14 22:30:14.905,https://api.p2pquake.net/v1/human-readable?lim...,None,石川県能登地方,137.3,37.5,10.0,1
2195,1,6.1,双葉町,2022-11-14 17:14:27.801,https://api.p2pquake.net/v1/human-readable?lim...,None,三重県南東沖,137.5,33.8,350.0,1
2196,1,6.1,None,2022-11-14 17:12:25.913,https://api.p2pquake.net/v1/human-readable?lim...,None,三重県南東沖,137.5,33.8,350.0,1

#### ***`Japón histórico`***

In [321]:
from urllib3.exceptions import InsecureRequestWarning
from urllib3 import disable_warnings

In [322]:
#Web scraping
#Permiso de la web
requests.packages.urllib3.util.ssl_.DEFAULT_CIPHERS = 'ALL:@SECLEVEL=1'
#desactivamos los request
disable_warnings(InsecureRequestWarning)

In [323]:
def get_url(date):
    '''
    Función:Generar la url custom para la fecha y los datos para esa fecha
    Entrada: Toma como ingesta la fecha en formato %YYYY%mm%dd, ej 20221102
    Salida: Devuelve la url para esa fecha y las filas de la tabla obtenida para esa fecha
    '''
    #url
    url=f'https://www.hinet.bosai.go.jp/AQUA/aqua_catalogue.php?y={date.year}&m={date.month}&LANG=en'
    #hacemos la request
    page = requests.get(url)
    #leemos el html
    soup = BeautifulSoup(page.content,"html.parser")
    #Pasamos a filas
    rows1 = soup.find("table", attrs={"class":"base"}).find_all("tr")
    return url,rows1

In [324]:
def historicos_japon(url,rows1):
    '''
    Función:
    Entrada: Toma como ingesta la url para una fecha y las filas
    Salida: Devuelve un df con todos los sismos de japón para todo el mes de esa fecha
    '''
    #creo dicc vacio
    dict={'mag':[],'place':[],'time':[],'url':[],'tsunami':[],'title':[],'lng':[],'lat':[],'deepth':[]}
    for index in range(5,len(rows1)-1):
        dict['mag'].append(float(rows1[index].find_all("td")[5].get_text()))
        dict['place'].append(rows1[index].find_all("td")[1].get_text())
        dict['time'].append(datetime.datetime.strptime(rows1[index].find_all("td")[0].get_text(),'%Y-%m-%d %H:%M:%S'))

        dict['url'].append(url)
        dict['tsunami'].append(None)
        dict['title'].append(None)

        dict['lng'].append(float(rows1[index].find_all("td")[3].get_text()[:-1]))
        dict['lat'].append(float(rows1[index].find_all("td")[2].get_text()[:-1]))
        dict['deepth'].append(float(rows1[index].find_all("td")[4].get_text().split('km')[0]))
    for elemento in dict:
        len(dict[elemento])
    df_japon=pd.DataFrame(dict)
    return df_japon

In [325]:
def carga_historica_japon():
    '''
    Función cargar datos de chile en postgres y hacer csv de backup
    Entrada: Fecha de ingreso en formato date, fecha de fin de la carga en formato date
    Salida: Notificación de finalizada la carga
    '''
    a,b=fechas()
    for dt in rrule(MONTHLY, dtstart=a, until=b):
        #print (dt.strftime("%Y%m%d"))
        url,rows1=get_url(dt)
        df=historicos_japon(url,rows1)
        df.insert(loc = 0, column = 'idpais', value =paises('japon'))
        df['peligro']=1
        df.to_csv(f'{directorio}/japon/japon_historico_{dt.strftime("%Y-%m-%d")}.csv')
        #Paso la tabla a Postgres
        df.to_sql(name='japon',con=cone, if_exists='append', index=False)#<-- DESACTIVAR/ACTIVAR NO/SI SE QUIERE PASAR A POSTGRES
        #Paso a tabla de Postgres única de hechos
        df.to_sql(name='sismos',con=cone, if_exists='append', index=False)
        #display(df)
    return ('La carga se hizo con éxito')

In [326]:
carga_historica_japon()

'La carga se hizo con éxito'

### ***`Japón en el segundo`***
Acá: Sacar última información de japón, para alimentar db y crear alertas - TIRA LA MÁX EN EL MOMENTO

In [327]:
#creo dicc vacio
dict={'mag':[],'place':[],'time':[],'url':[],'tsunami':[],'title':[],'lng':[],'lat':[],'int':[]}
#pido los últimos sismos
urlJMAList = "https://www.jma.go.jp/bosai/quake/data/list.json"
#hago una lista de los últimos sismos
responseJMAList = requests.get(urlJMAList)
#la convierto a formato json
jsonDataJMAList = responseJMAList.json()

i=0
#recorro la lista y solicito la info a la api
#for elemento in range(len(jsonDataJMAList)):
jsonDataJMALastDatetime = jsonDataJMAList[0]["rdt"]

jsonDataJMALastDatetime = datetime.datetime.strptime(jsonDataJMALastDatetime, '%Y-%m-%dT%H:%M:%S+09:00')

urlJMAEarthquakeData = "https://www.jma.go.jp/bosai/quake/data/" + jsonDataJMAList[i]["json"]

responseJMAEarthquakeData = requests.get(urlJMAEarthquakeData)

jsonDataJMAEarthquakeData = responseJMAEarthquakeData.json()
#'mag'
dict['mag'].append(float(jsonDataJMAEarthquakeData['Body']['Earthquake']['Magnitude']))
#'place
dict['place'].append(jsonDataJMAEarthquakeData['Body']['Earthquake']['Hypocenter']['Area']['enName'] )
#time
dict['time'].append(datetime.datetime.strptime(jsonDataJMAEarthquakeData['Head']['ReportDateTime'],'%Y-%m-%dT%H:%M:%S%z'))
#url
dict['url'].append(urlJMAEarthquakeData)
#tsunami
dict['tsunami'].append(jsonDataJMAEarthquakeData['Body']['Comments']['ForecastComment']['enText'])

#title
dict['title'].append(jsonDataJMAEarthquakeData['Head']['Title'])

#lat, long
dict['lat'].append(float(jsonDataJMAEarthquakeData['Body']["Intensity"]["Observation"]["Pref"][0]['Area'][0]['City'][0]['IntensityStation'][0]['latlon']['lat']))
dict['lng'].append(float(jsonDataJMAEarthquakeData['Body']["Intensity"]["Observation"]["Pref"][0]['Area'][0]['City'][0]['IntensityStation'][0]['latlon']['lon']))

#intensidad:
dict['int'].append(float(jsonDataJMAEarthquakeData['Body']["Intensity"]["Observation"]["Pref"][0]['Area'][0]['MaxInt']))
i+=1
df=pd.DataFrame(dict)
df.insert(loc = 0, column = 'idpais', value ='japon')
df['peligro']=1
#Paso la tabla a Postgres-- tiene intensidad no magnitud por lo que quizá no sirva
#df.to_sql(name='japon',con=cone, if_exists='append', index=False)#<-- DESACTIVAR/ACTIVAR NO/SI SE QUIERE PASAR A POSTGRES
#Paso a tabla de Postgres única de hechos
#df.to_sql(name='sismos',con=cone, if_exists='append', index=False)
display(df.head())

,idpais,mag,place,time,url,tsunami,title,lng,lat,int,peligro
0,japon,2.0,Adjacent Sea of Tokara Islands,2022-11-24 03:14:00+09:00,https://www.jma.go.jp/bosai/quake/data/2022112...,This earthquake poses no tsunami risk.\n,震源・震度情報,129.33,29.22,1.0,1

### ***`Chile`***

#### ***`Chile histórica`***

In [328]:
def get_url_chile(dt):
    year=dt.strftime("%Y")
    month=dt.strftime("%m")
    day=dt.strftime('%Y%m%d')

    url=f"https://www.sismologia.cl/sismicidad/catalogo/{year}/{month}/{day}.html"
    urlx = requests.get (url)
    soup = BeautifulSoup(urlx.content,"html.parser")
    rows = soup.find("table", attrs={"class":"sismologia detalle"}).find_all("tr")
    return  url, rows

In [329]:
def datos_chile(url,rows):
    #creo dicc vacio
    dict={'mag':[],'place':[],'time':[],'url':[],'tsunami':[],'title':[],'lng':[],'lat':[],'deepth':[]}
    for index,i in enumerate(rows):
        if index==0:
            pass
        else:
            dict['mag'].append(float(rows[index].find_all("td")[-1].get_text()[:-3]))
            dict['place'].append(rows[index].find_all("td")[0].get_text()[19:])
            dict['time'].append(datetime.datetime.strptime(rows[index].find_all("td")[1].get_text(),'%Y-%m-%d %H:%M:%S'))

            dict['url'].append(url)
            dict['tsunami'].append(None)
            dict['title'].append(None)

            dict['lng'].append(float(rows[index].find_all("td")[2].get_text()[:7]))
            dict['lat'].append(float(rows[index].find_all("td")[2].get_text()[-7:]))
            dict['deepth'].append(float(rows[index].find_all("td")[3].get_text().split()[0]))
    for elemento in dict:
        len(dict[elemento])
    df_chile=pd.DataFrame(dict)
    return df_chile

In [330]:
def tabla_chile(dt):
    url, rows=get_url_chile(dt)
    df_chile=datos_chile(url,rows)
    return df_chile

In [331]:
def carga_historica_chile():
    '''
    Función cargar datos de chile en postgres y hacer csv de backup
    Entrada: Fecha de ingreso en formato date, fecha de fin de la carga en formato date
    Salida: Notificación de finalizada la carga
    '''
    a,b =fechas()
    for dt in rrule(DAILY, dtstart=a, until=b):
        url, rows=get_url_chile(dt)    
        df=datos_chile(url,rows)
        
        df.insert(loc = 0, column = 'idpais', value =paises('chile'))
        df['peligro']=1
        df.to_csv(f'{directorio}/chile/chile_historico_{dt.strftime("%Y-%m-%d")}.csv')
        #Paso la tabla a Postgres
        df.to_sql(name='chile',con=cone, if_exists='append', index=False)#<-- DESACTIVAR/ACTIVAR NO/SI SE QUIERE PASAR A POSTGRES
        #Paso a tabla de Postgres única de hechos
        df.to_sql(name='sismos',con=cone, if_exists='append', index=False)
        #display(df)
    return ('La carga se hizo con éxito')

In [332]:
carga_historica_chile()

'La carga se hizo con éxito'

### ***`Carga de datos de USGS`***

In [333]:
def guardar_datos (url):
    '''
    Función: pasar de los datos de url de USGS
    Entrada: Toma de parámetro una url y devuelve el df que utilizaremos
    Salida: DataFrame con los datos de los sismos en la fecha
    '''
    # Obtenemos los datos
    resp = requests.get(url).json()

    # Guardamos los datos en formato diccionario
    dict={'mag':[],'place':[],'time':[],'url':[],'tsunami':[],'title':[],'lng':[],'lat':[],'deepth':[]}
    #recorremos la catidad de "filas" que tiene
    for i in range(len(resp['features'])):
        
        a=resp['features'][i]
        #agrego al diccionario magnitud, tiempo, si produjo tsunami 
        lista_propierties=['mag','time']
        for elemento in lista_propierties:
            if a['properties'][elemento]is None:
                dict[elemento].append(np.nan) 
            else:
                dict[elemento].append(float(a['properties'][elemento]))
                
        #agrego lugar, url con información a ampliar y el título     
        lista_propierties2=['place','url','title','tsunami']
        for elemento in lista_propierties2:
            if a['properties'][elemento]is None:
                dict[elemento].append(None)
            else:
                dict[elemento].append(a['properties'][elemento])

        #Agrego al diccionario latitud, longitud y profundidad
        list_geometry=['lng','lat','deepth']
        for indice, elemento in enumerate(list_geometry):
            if a['geometry']['coordinates'][indice] is None:
                dict[elemento].append(np.nan)
            else:
                dict[elemento].append(float(a['geometry']['coordinates'][indice]))

    #Devuelvo el diccionario hecho df
    return (pd.DataFrame(dict))

In [334]:
def cargar_paises():
    
    '''
    Función: Carga en postgres para cada mes los sismos de los tres paises (japón, usa ,chile) para el año y mes indicado en tres tablas distintas
    Sirve para respaldo
    Ingresa: año, mes y fin_día
    Salida: devuelve una tabla con las fechas que tuvieron errores durante la carga en una tabla de auditoría
    
    '''
    #Lista de paises
    paises_list = ['usa', 'japon', 'chile']
    #Creo listas vacías donde colocaré los errores que sucedan durante la carga, para utilizar a modo de auditoría
    fecha_inicio_error=[]
    fecha_final_error=[]
    pais_error=[]
    
    a,b=fechas()
    print(a,b)
    #Guardo una lista de las fechas a trabajar
    lista_fechas=[]
    
    for dt in rrule(MONTHLY, dtstart=a, until=b):
        lista_fechas.append(dt.strftime('%Y-%m-%d'))
    lista_fechas.append(b.strftime('%Y-%m-%d'))

    for pais in paises_list:
        for indice_fecha in range(len(lista_fechas)-1):

            try:
                # Hacemos la consulta a la API en función del país de interés
                if pais == 'usa':
                    url = f'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime={lista_fechas[indice_fecha]}&endtime={lista_fechas[indice_fecha+1]}&jsonerror=true'
                elif pais == 'japon':
                    url = f'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime={lista_fechas[indice_fecha]}&endtime={lista_fechas[indice_fecha+1]}&minlatitude=27.000000&maxlatitude=44.000000&minlongitude=132.780000&maxlongitude=145.530000&jsonerror=true'
                elif pais == 'chile':
                    url = f'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime={lista_fechas[indice_fecha]}&endtime={lista_fechas[indice_fecha+1]}&minlatitude=-56.800000&maxlatitude=-19.000000&minlongitude=-79.000000&maxlongitude=-68.900000&jsonerror=true'

                #paso a df
                df = guardar_datos (url)

                #corregimos las fechas
                df.time=df.time.apply(lambda x: datetime.datetime.fromtimestamp(int(x)//1000).strftime('%Y-%m-%d %H:%M:%S.%f') if x!=np.nan else x)

                #pasamos a formato fecha
                df.time=df.time.apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f') if x!=np.nan else x)

                #Agrego columna con el nombre de país:
                df.insert(loc = 0, column = 'idpais', value =paises(pais))
                
                #normalizamos cadenas de string
                #df=limpieza_general_tabla(df)
                df['peligro']=1
                #imprimo backup de cada carga de tabla:
                df.to_csv(f'{directorio}/{pais}/{pais}desde{lista_fechas[indice_fecha]}hasta{lista_fechas[indice_fecha+1]}.csv')
                #Paso la tabla a Postgres
                df.to_sql(name=pais,con=cone, if_exists='append', index=False)#<-- DESACTIVAR/ACTIVAR NO/SI SE QUIERE PASAR A POSTGRES
                #Paso a tabla de Postgres única de hechos
                df.to_sql(name='sismos',con=cone, if_exists='append', index=False)
                #print('La carga se ha hecho con exito!en la fecha:', lista_fechas[indice_fecha],'hasta',lista_fechas[indice_fecha+1])
            except:
                #Agrego a la lista de errores
                print('Error en la carga en la fecha:', lista_fechas[indice_fecha],'hasta',lista_fechas[indice_fecha+1],'del país:',pais)
        print(f'La carga se ha hecho con exito!en pais: {pais}')
    #Df de auditoría de errores durante la carga
    errores=pd.DataFrame()
    errores['fecha_inicio']=fecha_inicio_error
    errores['fecha_final']=fecha_final_error
    errores['pais']=pais_error

    return(errores)

In [335]:
cargar_paises()

2022-01-01 2022-11-23
La carga se ha hecho con exito!en pais: usa
La carga se ha hecho con exito!en pais: japon
La carga se ha hecho con exito!en pais: chile

Empty DataFrame
Columns: [fecha_inicio, fecha_final, pais]
Index: []

df=limpieza_general_tabla(df)
df=df[df.place.str.contains('japan|chile')|df.pais.str.contains('usa')]

ERROR: raise AttributeError("Can only use .str accessor with string values!")

Error en la carga en la fecha: 2020-6-01 hasta 2020-6-30 del país: usa

Error en la carga en la fecha: 2019-7-01 hasta 2019-7-31 del país: usa

Error en la carga en la fecha: 2018-7-01 hasta 2018-7-31 del país: usa

Error en la carga en la fecha: 2018-6-01 hasta 2018-6-30 del país: usa

Error en la carga en la fecha: 2010-4-01 hasta 2010-4-30 del país: usa

### ***`NOAAA`***
Documentation:
* https://www.ngdc.noaa.gov/hazel/view/swagger#/

#### ***`Tsunamis`***

In [363]:
def tsunami_Noaa():
    ''' 
    Función:
    Entrada:
    Salida:    
    '''
    countries = ['chile', 'japan', 'usa']
    for country in countries:
        # Obtenemos información a partir de la API
        url = f'https://www.ngdc.noaa.gov/hazel/hazard-service/api/v1/tsunamis/events?country={country.upper()}&maxYear=2022&minYear=2000'
        df = pd.DataFrame(requests.get(url).json()['items'])

        # Creamos la columna con la fecha del tsunami
        df['time'] = pd.to_datetime(df[['year','month','day','hour','minute','second']],format='%Y/%m/%d %H:%M:%S')
        df['time'] =df['time'].apply(lambda x: x.strftime('%Y/%m/%d %H:%M:%S'))
        # Renombramos los features para normalizar con los otros datos recolectados
        df.rename(columns={'eqMagnitude':'mag', 'eqDepth':'deepth', 'latitude':'lat', 'longitude':'lng',
                   'locationName':'place', 'country':'pais', 'maxWaterHeight':'altura_oleaje'}, inplace=True)

        # Creamos features adicionales para normalizar los datos.
        df['url'] = url
        if country=='japan':
            country='japon'
        df.insert(loc = 0, column = 'idpais', value =paises(country))
        df['place']  = df.apply(lambda x: x.place.lower(),axis=1)
        df['altura_oleaje']  = df.altura_oleaje.astype('float64')
        df.mag=df.mag.astype('float64')
        df.lat=df.lng.astype('float64')
        df.lat=df.lat.astype('float64')
        df.deepth=df.deepth.astype('float64')

        # Filtramos el dataframe con los datos relevantes.
        df = df[['idpais','altura_oleaje','place', 'time', 'url', 'mag', 'lng',
            'lat', 'deepth' ]]
    
       
        display(df)

        #Info para terminar de cargar la tabla
        # #Paso la tabla a Potgres
        df.to_sql(name=tsunamis,con=cone, if_exists='append', index=False)
        print(f'La carga se ha hecho con exito!{country}')
    return df

In [364]:
df1=tsunami_Noaa()

,idpais,altura_oleaje,place,time,url,mag,lng,lat,deepth
0,2,0.14,central chile,2010/03/11 14:39:43,https://www.ngdc.noaa.gov/hazel/hazard-service...,6.9,-71.891,-71.891,11.0
1,2,0.16,central chile,2020/12/27 21:39:14,https://www.ngdc.noaa.gov/hazel/hazard-service...,6.7,-74.990,-74.990,10.0
2,2,4.63,northern chile,2014/04/01 23:46:26,https://www.ngdc.noaa.gov/hazel/hazard-service...,8.2,-70.769,-70.769,25.0
3,2,0.28,northern chile,2007/11/14 15:40:50,https://www.ngdc.noaa.gov/hazel/hazard-service...,7.7,-69.890,-69.890,40.0
4,2,13.60,central chile,2015/09/16 22:55:26,https://www.ngdc.noaa.gov/hazel/hazard-service...,8.3,-71.674,-71.674,22.0
5,2,0.55,central chile,2015/11/11 01:54:00,https://www.ngdc.noaa.gov/hazel/hazard-service...,6.9,-72.120,-72.120,33.0
6,2,50.00,southern chile,2007/04/21 17:53:46,https://www.ngdc.noaa.gov/hazel/hazard-service...,6.2,-72.606,-72.606,NaN
7,2,29.00,central chile,2010/02/27 06:34:11,https://www.ngdc.noaa.gov/hazel/hazard-service...,8.8,-72.898,-72.898,23.0
8,2,0.74,northern chile,2014/04/03 02:43:11,https://www.ngdc.noaa.gov/hazel/hazard-service...,7.7,-70.493,-70.493,22.0
9,2,0.44,southern chile,2016/12/25 14:22:00,https://www.ngdc.noaa.gov/hazel/hazard-service...,7.6,-74.391,-74.391,30.0
10,2,0.07,central chile,2019/06/14 00:19:12,https://www.ngdc.noaa.gov/hazel/hazard-service...,6.4,-72.082,-72.082,11.0
11,2,0.26,northern chile,2014/03/16 21:16:00,https://www.ngdc.noaa.gov/hazel/hazard-service...,6.7,-70.814,-70.814,21.0
12,2,0.15,central chile,2011/02/11 20:05:30,https://www.ngdc.noaa.gov/hazel/hazard-service...,6.8,-73.125,-73.125,28.0
13,2,0.47,easter island region,2014/10/09 02:14:44,https://www.ngdc.noaa.gov/hazel/hazard-service...,7.0,-110.811,-110.811,16.0
14,2,0.16,central chile,2017/04/24 21:39:22,https://www.ngdc.noaa.gov/hazel/hazard-service...,6.9,-72.062,-72.062,28.0

IdentifierError: Identifier 'DROP TABLE IF EXISTS TSUNAMIS CASCADE; CREATE TABLE TSUNAMIS (id SERIAL PRIMARY KEY NOT NULL ,idpais INTEGER,foreign key (idpais) references PAIS(idpais),altura_oleaje float8, place text, time timestamp, url text, mag float8, lng float8, lat float8, deepth float8);' exceeds maximum length of 63 characters

### ***`Sismos`***

***Los sismos ontenidos de la API de Noaa cumplen una o varias de las siguientes condiciones:***
* Generaron un daño moderado (arpoximadamente 1 millon USD o más).
* Produjeron 10 o más muertes.
* Magnitud mayor a 7.5.
* Intendidad del sismo en escala de Mercalli mayor o igual a X.
* Produjo un tsunami.

In [369]:
def sismos_Noaa():
    ''' 
    Función:
    Entrada:
    Salida:
    '''
    import requests
    import pandas as pd
    from IPython.display import display
    countries = ['chile', 'japan', 'usa']
    for country in countries:
        
        # Obtenemos información a partir de la API
        url = f'https://www.ngdc.noaa.gov/hazel/hazard-service/api/v1/earthquakes?country={country.upper()}&maxYear=2022&minYear=2000'
        df = pd.DataFrame(requests.get(url).json()['items'])

        # Creamos la columna con la fecha del sismo
        df['time'] = pd.to_datetime(df[['year','month','day','hour','minute','second']])

        # Renombramos los features para normalizar con los otros datos recolectados
        df.rename(columns={'eqMagnitude':'mag', 'eqDepth':'deepth', 'latitude':'lat', 'longitude':'lng', 'locationName':'place', 'country':'pais'}, inplace=True)

        # Creamos features adicionales para normalizar los datos.
        df['url'] = url
        df['title'] = None
        df['tsunami'] = df.apply(lambda x: 1 if pd.isnull(x.tsunamiEventId) != True else 0, axis=1)
        if country=='japan':
            country='japon' 
        df['idpais']  = paises(country)
        df['place']  = df.apply(lambda x: x.place.lower(),axis=1)
        
        # Filtramos el dataframe con los datos relevantes.
        df = df[['idpais','mag','place', 'time', 'url', 'tsunami', 'title', 'lng',
            'lat', 'deepth']]
        df['peligro']=1

        #Info para terminar de cargar la tabla
        # df=limpieza_general_tabla(df)
        # #Paso la tabla a Potgres
        df.to_sql(name=country,con=cone, if_exists='append', index=False)
        df.to_sql(name='sismos',con=cone, if_exists='append', index=False)
        print(f'La carga se ha hecho con exito!{country}')

In [370]:
sismos_Noaa()

La carga se ha hecho con exito!chile
La carga se ha hecho con exito!japon
La carga se ha hecho con exito!usa

#### ***`Volcanes`***

Ultima erupción acorde con el program global de vulcanología del Smithsonian Institution.
* D1	Utima erupcion en 1964 o despues.
* D2	Utima erupcion entre 1900-1963.
* D3	Utima erupcion entre 1800-1899.
* D4	Utima erupcion entre 1700-1799
* D5	Utima erupcion entre 1500-1699
* D6	Utima erupcion entre A.D. 1-1499
* D7	Utima erupcion entre B.C. (Holocene)
* U	No fechado, posiblemente en Holoceno
* Q	Erupcion cuaternaria
* ?	Erupción en el Holoceno incierta

In [376]:
def volcanes_Noaa():
    import requests
    import pandas as pd
    from IPython.display import display
    countries = ['chile', 'japan', 'United%20States']
    for country in countries:
        
        # Obtenemos información a partir de la API
        url = f'https://www.ngdc.noaa.gov/hazel/hazard-service/api/v1/volcanolocs?country={country.upper()}'
        df = pd.DataFrame(requests.get(url).json()['items'])

        # Renombramos los features para normalizar con los otros datos recolectados
        df.rename(columns={'name':'nombre', 'morphology':'tipo', 'elevation':'elevacion', 'latitude':'lat', 'longitude':'lng', 'location':'place', 'country':'pais', 'timeErupt':'ultima_erupcion'}, inplace=True)
        # Creamos features adicionales para normalizar los datos.
        df['url'] = url
        df['idpais']  = df.apply(lambda x: 'Usa' if x.pais.lower() == 'united states' else x.pais,axis=1)
        df['idpais']  = df.idpais.apply(lambda x: paises(x))
        df['place']  = df.apply(lambda x: x.place.lower(),axis=1)

        # Filtramos el dataframe con los datos relevantes.
        df = df[['idpais','nombre','tipo', 'elevacion', 'place', 'ultima_erupcion', 'lat', 'lng','url']]
    
        display(df)
        
        df.to_sql(name='volcanes',con=cone, if_exists='append', index=False)

        #Info para terminar de cargar la tabla
        # #Paso la tabla a Potgres
        # df.to_sql(name=volcanes,con=cone, if_exists='append', index=False)
        # print('La carga se ha hecho con exito!')

In [377]:
volcanes_Noaa()

,idpais,nombre,tipo,elevacion,place,ultima_erupcion,lat,lng,url
0,4,Tacora,Stratovolcano,5980.0,chile-n,U,-17.720,-69.770,https://www.ngdc.noaa.gov/hazel/hazard-service...
1,4,Caichinque,Maar,4458.0,chile-n,U,-23.949,-67.740,https://www.ngdc.noaa.gov/hazel/hazard-service...
2,4,Unnamed,Submarine volcano,-642.0,chile-is,Unknown,-33.620,-76.830,https://www.ngdc.noaa.gov/hazel/hazard-service...
3,4,Villarrica,Stratovolcano,2847.0,chile-c,D1,-39.420,-71.930,https://www.ngdc.noaa.gov/hazel/hazard-service...
4,4,Yate,Stratovolcano,2187.0,chile-s,U,-41.755,-72.396,https://www.ngdc.noaa.gov/hazel/hazard-service...
...,...,...,...,...,...,...,...,...,...
83,4,Cayutue-La Vigueria,Pyroclastic cones,506.0,chile-s,D7,-41.250,-72.270,https://www.ngdc.noaa.gov/hazel/hazard-service...
84,4,Corcovado,Stratovolcanoes,1826.0,chile-s,D7,-43.189,-72.794,https://www.ngdc.noaa.gov/hazel/hazard-service...
85,4,Río Murta,Pyroclastic cones,NaN,chile-s,?,-46.167,-72.667,https://www.ngdc.noaa.gov/hazel/hazard-service...
86,4,Arenales,Stratovolcano,3437.0,chile-s,D2,-47.200,-73.483,https://www.ngdc.noaa.gov/hazel/hazard-service...
87,4,Meullin,Volcanic field,1080.0,chile-s,Unknown,-45.220,-73.050,https://www.ngdc.noaa.gov/hazel/hazard-service...

,idpais,nombre,tipo,elevacion,place,ultima_erupcion,lat,lng,url
0,5,Suwanosejima,Stratovolcano,796,ryukyu is,D1,29.638,129.714,https://www.ngdc.noaa.gov/hazel/hazard-service...
1,5,Takaharayama,Stratovolcano,1795,honshu-japan,U7,36.900,139.777,https://www.ngdc.noaa.gov/hazel/hazard-service...
2,5,Midagahara,Stratovolcano,2621,honshu-japan,D3,36.571,137.590,https://www.ngdc.noaa.gov/hazel/hazard-service...
3,5,Yokodake,Stratovolcano,2480,honshu-japan,U,36.087,138.320,https://www.ngdc.noaa.gov/hazel/hazard-service...
4,5,Toshima,Stratovolcano,508,izu is-japan,Unknown,34.520,139.279,https://www.ngdc.noaa.gov/hazel/hazard-service...
...,...,...,...,...,...,...,...,...,...
108,5,Kaikata Seamount,Submarine volcano,-165,volcano is-japan,U,26.667,140.929,https://www.ngdc.noaa.gov/hazel/hazard-service...
109,5,Unnamed,Submarine volcano?,-3200,volcano is-japan,?,26.133,144.483,https://www.ngdc.noaa.gov/hazel/hazard-service...
110,5,Daikoku,Submarine volcano,-323,volcano is-japan,U,21.324,144.194,https://www.ngdc.noaa.gov/hazel/hazard-service...
111,5,Akandanayama,Stratovolcano,2109,honshu-japan,Unknown,36.200,137.573,https://www.ngdc.noaa.gov/hazel/hazard-service...
112,5,Tenchozan,Crater rows,1046,hokkaido-japan,?,44.044,145.086,https://www.ngdc.noaa.gov/hazel/hazard-service...

,idpais,nombre,tipo,elevacion,place,ultima_erupcion,lat,lng,url
0,6,San Francisco Volcanic Field,Cinder cone,3850.0,us-arizona,D6,35.347,-111.678,https://www.ngdc.noaa.gov/hazel/hazard-service...
1,6,Supply Reef,Submarine volcano,-8.0,mariana is-c pacific,D1,20.130,145.100,https://www.ngdc.noaa.gov/hazel/hazard-service...
2,6,Ta'u,Shield volcano,931.0,samoa-sw pacific,U,-14.230,-169.454,https://www.ngdc.noaa.gov/hazel/hazard-service...
3,6,Takawangha,Stratovolcano,1449.0,aleutian is,U,51.873,-178.006,https://www.ngdc.noaa.gov/hazel/hazard-service...
4,6,Tlevak Strait-Suemez Island,Volcanic field,50.0,alaska-se,U,55.250,-133.300,https://www.ngdc.noaa.gov/hazel/hazard-service...
...,...,...,...,...,...,...,...,...,...
185,6,Mariana Back-Arc Segment at 15.5°N,Submarine,-4100.0,mariana is-c pacific,D1,15.406,144.506,https://www.ngdc.noaa.gov/hazel/hazard-service...
186,6,Korovin,Stratovolcano(es),1518.0,aleutian is,D1,52.381,-174.166,https://www.ngdc.noaa.gov/hazel/hazard-service...
187,6,St. Paul Island,Shield,203.0,alaska-w,D7,57.180,-170.300,https://www.ngdc.noaa.gov/hazel/hazard-service...
188,6,Red Hill,Volcanic field,2300.0,us-new mexico,D7,34.250,-108.830,https://www.ngdc.noaa.gov/hazel/hazard-service...
189,6,Stepovak Bay Group,Volcanic field,1633.0,alaska peninsula,Unknown,55.917,-160.017,https://www.ngdc.noaa.gov/hazel/hazard-service...